#![enable(implicit_some)]
(
  modkey: "Mod4",
  mousekey: "Mod4",
  disable_current_tag_swap: false,
  disable_tile_drag: false,
  disable_window_snap: true,
  focus_behaviour: Sloppy,
  focus_new_windows: true,
  single_window_border: true,
  sloppy_mouse_follows_focus: true,
  max_window_width: None,
  state_path: None,
  layout_mode: Tag,
  insert_behavior: Bottom,
  workspaces: [],
  tags: [
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
  ],
  layouts: [
    "Monocle",
    "GridHorizontal",
    "MainAndHorizontalStack"
  ],
  window_rules: [
    (window_class: "firefox-nightly", window_title: None, spawn_on_tag: 1, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "firefoxdeveloperedition", window_title: None, spawn_on_tag: 1, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "floorp", window_title: None, spawn_on_tag: 1, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "LibreWolf", window_title: None, spawn_on_tag: 1, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Google-chrome", window_title: None, spawn_on_tag: 4, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "firefox", window_title: None, spawn_on_tag: 4, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "TelegramDesktop", window_title: None, spawn_on_tag: 7, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Thunderbird", window_title: None, spawn_on_tag: 7, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "zoom", window_title: None, spawn_on_tag: 7, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Zoom Cloud Meetings", window_title: None, spawn_on_tag: 7, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "fluent-reader", window_title: None, spawn_on_tag: 7, spawn_on_workspace: None, spawn_floating: false, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "discord", window_title: None, spawn_on_tag: 7, spawn_on_workspace: None, spawn_floating: false, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Spotify", window_title: None, spawn_on_tag: 8, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Pulseaudio-equalizer-gtk", window_title: None, spawn_on_tag: 8, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Pavucontrol", window_title: None, spawn_on_tag: 8, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Slack", window_title: None, spawn_on_tag: 9, spawn_on_workspace: None, spawn_floating: None, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "DBeaver", window_title: None, spawn_on_tag: 6, spawn_on_workspace: None, spawn_floating: false, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),

    // Float
    (window_class: "Lxapperance", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Nitrogen", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "wpa_gui", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Zathura", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Places", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Dialog", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "pop-up", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Thunar", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Pcmanfm", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Piper", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Blueman-manager", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "blueman-manager", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Blueman-adapter", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "blueman-adapter", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "NordPass", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Arandr", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Java", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "TelegramDesktop", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "whatsapp-nativefier-d40211", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "whatsdesk", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Settings", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Settings", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "protonvpn", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "cpupower-gui", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "blueman-adapters", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "SpeedCrunch", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "swing-App", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Gcr-prompter", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Steam", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
    (window_class: "Lxpolkit", window_title: None, spawn_on_tag: None, spawn_on_workspace: None, spawn_floating: true, spawn_sticky: None, spawn_fullscreen: None, spawn_as_type: None),
  ],
  keybind: [
    (command: GotoTag, value: "1", modifier: ["modkey"], key: "1"),
    (command: GotoTag, value: "2", modifier: ["modkey"], key: "2"),
    (command: GotoTag, value: "3", modifier: ["modkey"], key: "3"),
    (command: GotoTag, value: "4", modifier: ["modkey"], key: "4"),
    (command: GotoTag, value: "5", modifier: ["modkey"], key: "5"),
    (command: GotoTag, value: "6", modifier: ["modkey"], key: "6"),
    (command: GotoTag, value: "7", modifier: ["modkey"], key: "7"),
    (command: GotoTag, value: "8", modifier: ["modkey"], key: "8"),
    (command: GotoTag, value: "9", modifier: ["modkey"], key: "9"),
    (command: MoveToTag, value: "1", modifier: ["modkey", "Shift"], key: "1"),
    (command: MoveToTag, value: "2", modifier: ["modkey", "Shift"], key: "2"),
    (command: MoveToTag, value: "3", modifier: ["modkey", "Shift"], key: "3"),
    (command: MoveToTag, value: "4", modifier: ["modkey", "Shift"], key: "4"),
    (command: MoveToTag, value: "5", modifier: ["modkey", "Shift"], key: "5"),
    (command: MoveToTag, value: "6", modifier: ["modkey", "Shift"], key: "6"),
    (command: MoveToTag, value: "7", modifier: ["modkey", "Shift"], key: "7"),
    (command: MoveToTag, value: "8", modifier: ["modkey", "Shift"], key: "8"),
    (command: MoveToTag, value: "9", modifier: ["modkey", "Shift"], key: "9"),
    (command: IncreaseMainWidth, value: "5", modifier: ["modkey", "Shift"], key: "l"),
    (command: DecreaseMainWidth, value: "5", modifier: ["modkey", "Shift"], key: "h"),
    (command: CloseWindow, value: "", modifier: ["modkey"], key: "w"),
    (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
    (command: HardReload, value: "", modifier: ["modkey", "Control"], key: "r"),
    (command: Execute, value: "pkill leftwm", modifier: ["modkey", "Shift"], key: "q"),
    (command: FloatingToTile, value: "", modifier: ["modkey"], key: "t"),
    (command: NextLayout, value: "", modifier: ["modkey"], key: "Tab"),
    (command: PreviousLayout, value: "", modifier: ["modkey", "Shift"], key: "Tab"),
    (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
    (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
    (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
    (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
    (command: SetMarginMultiplier, value: "0", modifier: ["modkey"], key: "z"),
    (command: SetMarginMultiplier, value: "1", modifier: ["modkey", "Shift"], key: "z"),
    (command: ToggleFullScreen, value: "", modifier: ["modkey"], key: "space"),
    (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "x"),
    (command: Execute, value: "rofi -show drun", modifier: ["modkey"], key: "m"),
    (command: Execute, value: "rofi -show", modifier: ["modkey", "Shift"], key: "m"),
    (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
    (command: Execute, value: "librewolf", modifier: ["modkey"], key: "b"),
    (command: Execute, value: "firefox", modifier: ["modkey", "Shift"], key: "b"),
    (command: Execute, value: "speedcrunch", modifier: ["modkey"], key: "s"),
    (command: Execute, value: "obsidian", modifier: ["modkey"], key: "n"),
    (command: Execute, value: "flameshot gui", modifier: ["modkey"], key: "p"),
    (command: Execute, value: "betterlockscreen -l blur", modifier: ["modkey", "Control"], key: "l"),
    (command: Execute, value: "pactl set-sink-volume @DEFAULT_SINK@ -5%", modifier: [], key: "XF86XK_AudioLowerVolume"),
    (command: Execute, value: "pactl set-sink-volume @DEFAULT_SINK@ +5%", modifier: [], key: "XF86XK_AudioRaiseVolume"),
    (command: Execute, value: "pactl set-sink-mute @DEFAULT_SINK@ toggle", modifier: [], key: "XF86XK_AudioMute"),
    (command: Execute, value: "playerctl play-pause", modifier: [], key: "XF86XK_AudioPlay"),
    (command: Execute, value: "playerctl next", modifier: [], key: "XF86XK_AudioNext"),
    (command: Execute, value: "playerctl previous", modifier: [], key: "XF86XK_AudioPrev"),
    (command: Execute, value: "brightnessctl set +10%", modifier: [], key: "XF86XK_MonBrightnessUp"),
    (command: Execute, value: "brightnessctl set 10%-", modifier: [], key: "XF86XK_MonBrightnessDown"),
  ],
)
