$font: 'LiterationMono Nerd Font';
$background: #0a0e14;
$foreground: #bfbab0;

$grey: #151720;
$yellowLite: #ffd580;
$yellow: #ffb454;
$orange: #ff8f40;
$blue: #73d0ff;
$green: #bae67e;
$red: #ff3333;
$cyan: #95e6cb;

$archColor: #1793d1;
