# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!alacritty
!fish
!starship.toml
!htop
!nvim
!rofi
!vifm
!ranger
!qtile
!spectrwm
!openbox
!tint2
!xmonad
!xmobar
!xob
!bat
!picom
!zathura
!pulse/presets
!bspwm
!sxhkd
!polybar
!neofetch
!kitty
!pavucontrol.ini
