# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!alacritty
!fish
!starship.toml
!htop
!nvim
!nvim/**/*
!rofi
!vifm
!ranger
!qtile
!qtile/*
!spectrwm
!openbox
!tint2
!xmonad
!xmonad/*
!xmobar
!xmobar/*
!xob
!bat
!picom
!zathura
!pulse/presets
!bspwm
!bspwm/*
!sxhkd
!sxhkd/*
!polybar/*
!neofetch/*
!kitty
!pavucontrol.ini
!leftwm
!leftwm/*
!dunst
!dunst/*
