@import "../css/variable";

.dashboard {
  background-color: $background;
}

.system-control {
  margin: 30px;
  border-radius: 10px;
}

.powermenu {
  .poweroff, .reboot, .lock, .exit {
		font-family: $font;
		font-size: 1.5em;
		font-weight: bold;
    background-color: $grey;
  }

  .poweroff{
    padding: .4rem .9rem .3rem .5rem;
  } 

  .reboot {
    padding: .4rem .9rem .3rem .5rem;
  }

	.lock{
    padding: .4rem .7rem .3rem .5rem;
	}

	.exit{
    padding: .4rem .9rem .3rem .5rem;
	}
}
